<div class="toolbox"><span [routerLink]="['/']" class="topMenu__logo">Kinomir</span></div>
<ul>
  <li [routerLink]="['/films/']">Все фильмы</li>
  <li [routerLink]="['/series/']">Сериалы</li>
  <li style="color: #595959;">•</li>
  <li>Видео</li>
  <li>Новости</li>
</ul>

<input id="search" type="textfield" placeholder="Быстрый поиск">

<ul *ngIf="authenticated">
  <li [routerLink]="['/favoritelist']">Избранное</li>
</ul>

<a href="#" title="Панель уведомлении" class="logo" id="notify-logo"></a>

<a href="#" title="Аккаунт" class="logo" id="acc-logo" *ngIf="authenticated"></a>


<button [routerLink]="['/auth/']" class="auth_button round_button bluebutton" *ngIf="!authenticated">Войти</button>
<button (click)="logout()" class="auth_button round_button bluebutton" *ngIf="authenticated">Выход</button>
