<div class="main page">
   <div class="container">
     <div class="main__container">
        <div class="filmList">
          <div class="item" *ngFor="let film of films">
            <div class="sequence_checkbox_block">
              {{film.id}}
            </div>
            <div class="poster">
              <img src="{{film.img}}">
            </div>
            <div class="filmList__movie__info">
              <div class="title">
                <i class="movie__title-text" [routerLink]="['/films',film.id]"> {{film.name}} </i>
              </div>
              <div class="info">
                  <div class="select-wrap">
                  <span class="filmList__small-text">
                      {{film.secondName}}
                  </span>
                    <p class="filmList__extra-info">
                     {{film.description}}
                    </p>
                    <div class="item__link-rating">
                      <ul class="rating">
                        <li class="rating--kino">
                          <div class="rating-name">Кинориум: </div>
                          <span class="rating-vaue">{{film.kinorium}} </span>
                        </li>
                        <li class="rating--kino">
                          <div class="rating-name">IMDb: </div>
                          <span class="rating-vaue">{{film.imbd}} </span>
                        </li>
                        <li class="rating--kino">
                          <div class="rating-name">Критики: </div>
                          <span class="rating-vaue">{{film.critics}} </span>
                        </li>
                      </ul>
                    </div>
<!--                    <div class="statusWidgetData">-->
<!--                        <button class="add"> Добавить </button>-->
<!--                    </div>-->
                  </div>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
</div>
